<h1> <%=@chart.name%> </h1>
</br>
<h2> Artists </h2>
<ul>
  <% @chart.artists.each do |artist| %>
    <li>
    <%= link_to artist.name, [@chart, @artist]%>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit Chart', edit_chart_path(@chart) %>
</br>

<%= link_to 'Delete Chart', @chart, method: :delete %>
</br>

<%= link_to 'View Artists', chart_artists_path(@chart) %>


